/*FONT*/

@import url('https://fonts.googleapis.com/css?family=Baloo+Tammudu');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    /*background-image: radial-gradient(circle, #DE78DC, #B855B8, #943294, #700373, #4E0052);*/
    background-image: radial-gradient(circle, #00a1fe, #0d81d0, #0d63a4, #06467a, #002c52);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #fff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-transform: uppercase;
    font-family: 'Baloo Tammudu', Arial, Helvetica, sans-serif;
}

h1 {
    position: relative;
    font-size: 5rem;
    letter-spacing: -5px;
    transform: rotate(-5deg);
    height: 0px;
    text-align: center;
}

#main {
    width: 100vw;
    height: 80vh;
    position: relative;
    top: 60%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-around;
    z-index: 999;
}

#menu {
    height: 80%;
    width: 35%;
}

#playfield {
    width: 100%;
    position: relative;
    height: 80%;
    background: rgb(255, 255, 255, 0.3);
    /*50 from Element NOT Parent*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#highscore-table {
    height: 80%;
    width: 35%;
    text-align: center;
}


/*demo blocks*/

.block1 {
    position: absolute;
    top: 15%;
    left: 15%;
    border: 1px solid black;
    width: 75px;
    height: 40px;
    background: rgb(0, 0, 255, 0.4);
    text-align: center;
}

.block2 {
    position: absolute;
    top: 15%;
    left: 40%;
    border: 1px solid black;
    width: 75px;
    height: 40px;
    background: rgb(0, 255, 0, 0.4);
    text-align: center;
}

.block3 {
    position: absolute;
    top: 15%;
    left: 70%;
    border: 1px solid black;
    width: 75px;
    height: 40px;
    background: rgb(255, 0, 0, 0.4);
    text-align: center;
}

#builder {
    position: absolute;
    width: 75px;
    height: 40px;
    background: rgb(255, 0, 0, 0.4);
    border: 1px solid black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#builder i {
    font-size: 28px;
    color: white;
}

#bar {
    width: 150px;
    height: 10px;
    border: 1px solid black;
    position: absolute;
    bottom: 20px;
    left: 50%;
    background-color: rgb(0, 0, 0, 0.7);
}

#ball {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 70%;
    left: 60%;
    background-color: rgb(0, 0, 0, 0.7);
    border-radius: 50%;
}